@media (min-width: 576px) {
    .container {
        background-color: $white;
        width: 27rem;
        height: 43rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 5%;
        text-align: center;
        margin: 3rem 2rem;
    }
}